{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h1>About type-player</h1>
            <hr />
        </div>
    </div>
    <div class="row mb-2">
        <!-- Left portion of page -->
        <div class="col-md-8">
            <div class="container clearfix">
                <div class="row mb-2">
                    <div class="col">
                        <p>
                            <i>type-player</i> is designed to accept text input from a user and to create a short video clip of the inputted text being typed out. This video clip is available
                            for the user to download and play independently - or the user might decide to use it as part of a larger video production.
                        </p>
                        <p>
                            <i>type-player</i> is a web application built using <strong>Python</strong> and <strong>Django</strong>. The front end is supported by <strong>Javascript</strong>,
                            <strong>jQuery</strong>, and <strong>Bootstrap 4</strong>
                            (Bootstrap likely being obvious <i class='far fa-grin-beam-sweat'></i> ). This tool is currently still under development, but there will be more to come here!
                            We hope that <i>type-player</i> proves to be a fun, useful tool!
                        </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="card border-info">
                            <div class="card-body text-info">
                                <h5 class="card-title">
                                    <svg class="bi bi-question-octagon" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.54.146A.5.5 0 014.893 0h6.214a.5.5 0 01.353.146l4.394 4.394a.5.5 0 01.146.353v6.214a.5.5 0 01-.146.353l-4.394 4.394a.5.5 0 01-.353.146H4.893a.5.5 0 01-.353-.146L.146 11.46A.5.5 0 010 11.107V4.893a.5.5 0 01.146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" clip-rule="evenodd" />
                                        <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                    </svg>
                                    Does this look familiar?
                                </h5>
                                <p class="card-text">
                                    If <i>type-player</i> looks familiar to something else you've seen, it's because it is! <i>type-player</i> is a sister application to <i>type-recorder</i>,
                                    created by the same author. <i>type-recorder</i> takes a string of text and converts it to an audio format, whereas <i>type-player</i> takes a string of text
                                    and converts it to a video format. Pretty cool, right!?
                                </p>
                                <a href="https://www.type-recorder.com" target="_blank" class="btn btn-primary">
                                    type-recorder
                                    <svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd" />
                                        <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right portion of page -->
        <div class="col-md-4">
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        <div class="card border-dark mb-3">
                            <img class="card-img-top" src="{% static 'images/loran2.jpg'%}" alt="That's me!" />
                            <div class="card-body text-primary">
                                <h5 class="card-title">About the author</h5>
                                <p class="card-text">
                                    Loran Saggu is my name! I am a Technology Consultant and Developer with deep experience in and around the Salesforce.com platform.
                                    I have worked across a breadth of industries, and I enjoy tackling complex problems leveraging process and technology. Being fluent across a range of
                                    tools and technologies is important as a technologist, and I hope to improve my skills with a variety of tools through projects like this one.
                                </p>
                                <p class="card-text">
                                    I studied Computer Science at Indiana University (Go Hoosiers!), and I spend my time, these days, in Orlando.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col"></div>
        <div class="col mb-2">
            <!-- Large ads -->
            <div class="aws-flex-center d-none d-md-block">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "computers_accesories";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "48";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "1HA0E4HMD35YCKKM2VR2";
                    amzn_assoc_width = "728";
                    amzn_assoc_height = "90";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "a0bc3d1708dd2bda280baa0d5bf17e70";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
            <!-- small ad -->
            <div class="aws-flex-center d-md-none">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "computers_accesories";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "21";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "1SHGCFFM6T54YWBQH8G2";
                    amzn_assoc_width = "125";
                    amzn_assoc_height = "125";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "02732ffd35259fa47362b0607e83e68b";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col mb-2">
            <!-- large ad -->
            <div class="aws-flex-center d-none d-md-block">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "software";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "48";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "1BHK0X94Y5YT7HT1V482";
                    amzn_assoc_width = "728";
                    amzn_assoc_height = "90";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "fa4702fe4db61b58da7d0dbcad12e111";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
            <!-- Small ad -->
            <div class="aws-flex-center d-md-none">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "software";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "21";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "04C5ABEVY3RE1CKZSAG2";
                    amzn_assoc_width = "125";
                    amzn_assoc_height = "125";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "0e44fc34bb91fb2686e8a45f18a01380";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-2">
        <div class="col-md-5"></div>
        <div class="col-md-2" style="border-top-style:solid;">
            <img src="{% static 'images/type-recorder-favicon_2.png'%}" width="100%" />
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<script src="{% static 'scripts/about.js' %}"></script>


{% endblock %}
