{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="/" class="lang-logo">
                    <img src="{% static 'images/type-recorder-logo_125x125.png'%}">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="display-4">type-player</h1>
                <p><strong>Type</strong> and <i>replay</i> your text.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div> <!-- styling div -->
            <div class="col-md-6">
                <div id="error_message" class="alert alert-danger text-center d-none"></div>
                <div class="form-group">
                    <textarea id="text_input" class="form-control text-input shadow" placeholder="Enter your text here..." maxlength="500" required onkeypress="handleTextInput(event)" onkeydown="handleWhiteSpaceInput(event)"></textarea>
                </div>
            </div>
            <div class="col-md-3"></div> <!-- styling div -->
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="btn-group" role="group">
                    <button class="btn btn-lg btn-light" onclick="record();" data-toggle="tooltip" data-placement="top" title="Click here to create a recording of the text that you have entered above.">
                        <span class="spinner-grow spinner-grow-sm text-danger align-middle" role="status" aria-hidden="true"></span>
                        Record
                    </button>
                    <button class="btn btn-lg btn-dark" onclick="reset();">
                        <svg class="bi bi-skip-backward" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 011 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 01-1 0V4a.5.5 0 01.5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z" clip-rule="evenodd" />
                        </svg>
                        Reset
                    </button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row mb-2">
            <div class="col"></div>
            <div class="col">
                <!-- Amazon Advertisement -->
                <div class="aws-flex-center d-none d-md-block">
                    <script type="text/javascript">
                        amzn_assoc_ad_type = "banner";
                        amzn_assoc_marketplace = "amazon";
                        amzn_assoc_region = "US";
                        amzn_assoc_placement = "assoc_banner_placement_default";
                        amzn_assoc_campaigns = "echo";
                        amzn_assoc_banner_type = "category";
                        amzn_assoc_p = "48";
                        amzn_assoc_isresponsive = "false";
                        amzn_assoc_banner_id = "08XWGJRGVGCQM3GBTQG2";
                        amzn_assoc_width = "728";
                        amzn_assoc_height = "90";
                        amzn_assoc_tracking_id = "typerecorder-20";
                        amzn_assoc_linkid = "4bed597698a07afcf4043527839c6b31";
                    </script>
                    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                </div>
                <!-- Small version of ad -->
                <div class="aws-flex-center d-md-none">
                    <script type="text/javascript">
                        amzn_assoc_ad_type = "banner";
                        amzn_assoc_marketplace = "amazon";
                        amzn_assoc_region = "US";
                        amzn_assoc_placement = "assoc_banner_placement_default";
                        amzn_assoc_campaigns = "computers_accesories";
                        amzn_assoc_banner_type = "category";
                        amzn_assoc_p = "21";
                        amzn_assoc_isresponsive = "false";
                        amzn_assoc_banner_id = "1CG3DJVEBW9EK6JGR482";
                        amzn_assoc_width = "125";
                        amzn_assoc_height = "125";
                        amzn_assoc_tracking_id = "typerecorder-20";
                        amzn_assoc_linkid = "95db785b682bc8aac9a003ee64f9a2b3";
                    </script>
                    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                </div>
            </div> 
            <div class="col"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center" role="alert">
                To create a recording, type out the message as you wish for it to be played, then click on <strong>Record</strong>. To start a new recording, click on <strong>Reset</strong>.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <h5>Your Recording!</h5>
                </div>
                <div class="card-body">
                    <span id="player_output" class="card-text">Nothing recorded yet...</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- Amazon Advertisement -->
        <div class="col"></div>
        <div class="col mb-2">
            <!-- Large ad -->
            <div class="aws-flex-center d-none d-md-block">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "software";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "48";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "1RN4GK8DRD84QSEK3R02";
                    amzn_assoc_width = "728";
                    amzn_assoc_height = "90";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "eb145be9da304e24c552fddb060b9898";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
            <!-- Small ad -->
            <div class="aws-flex-center d-md-none">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "software";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "42";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "14JFQBJ3H70KX89PET02";
                    amzn_assoc_width = "234";
                    amzn_assoc_height = "60";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "536f1dd0a8595319980f2e2cbd4cafca";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col mb-2">
            <!-- Large ad -->
            <div class="aws-flex-center d-none d-md-block">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_banner_type = "ez";
                    amzn_assoc_p = "48";
                    amzn_assoc_width = "728";
                    amzn_assoc_height = "90";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "fd56fd65c446a3f6393bd05a83eeccfa";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
            <!-- small ad -->
            <div class="aws-flex-center d-md-none">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_banner_type = "ez";
                    amzn_assoc_p = "9";
                    amzn_assoc_width = "180";
                    amzn_assoc_height = "150";
                    amzn_assoc_tracking_id = "typerecorder-20";
                    amzn_assoc_linkid = "917f9f2d8dd4ec13b4fa13369ee5adfe";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-2">
        <div class="col-md-5"></div>
        <div class="col-md-2" style="border-top-style:solid;">
            <img src="{% static 'images/type-recorder-favicon_2.png'%}" width="100%" />
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<script src="{% static 'scripts/index.js' %}"></script>

{% endblock %}
